@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}



html.light {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --link-color: #007bff;
  --subHeading-color: #007bff;
  --highlight-color: #000000;
  --text-color:#696969;
  
}

html.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 24, 28, 39;
  --subHeading-color: #007bff;
  --link-color: #007bff;
  --highlight-color:#fff ;
  --text-color: #C0C0C0;

}



body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

a {
  color: var(--link-color);
}

h1{
  color: var(--highlight-color);
}
h2, h3, h4, h5, h6 {
  color: var(--subHeading-color);
}
span {
  color: var(--highlight-color);
  font-weight: 500;
}
p {
  color: var(--text-color);
}